* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #f1f1f1;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 12px 1rem;
  height: 56px;
  background-color: black;
  align-items: center;
}

.mobile-logo {
  display: none;
}

.mid {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  padding: 0.5rem 0.5rem;
  width: 480px;
  height: 32px;
  border-radius: 0.5rem;
  border: 1px solid var(--stroke-s-200, #616161);
  background: var(--grey-g-200, #303030);
}

.mid input {
  outline: none;
  background: transparent;
  border: none;
  width: 100%;
  color: white;
}

.mid input::placeholder {
  color: var(--grey-g-100, #b5b5b5);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
}

.mid:hover {
  border: 1px solid var(--stroke-s-100, #e1e1e1);
  background: var(--grey-g-200, #303030);
}

.mid:active {
  border: 2px solid var(--White, #fff);
  background: var(--grey-g-200, #303030);
}

.mid:focus {
  border: 2px solid var(--White, #fff);
  background: var(--grey-g-200, #303030);
}

.last {
  display: flex;
  gap: 1rem;
  position: relative;
}

.last .one {
  display: inline-flex;
  padding: 0.375rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: var(--grey-grey-200, #303030);
}

.last .one:hover {
  background: var(--font-mid-2, #616161);
}

.last .one:active {
  background: var(--grey-grey-50, #656266);
}

.last .one:focus {
  background: var(--grey-grey-50, #656266);
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #000;
}

.alert {
  cursor: pointer;
}

.box {
  position: absolute;
  background-color: white;
  width: 400px;
  top: 60px;
  right: 0;
  border-radius: 10px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  border-radius: 0.875rem;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);
  /* Drop Shadow */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  display: none;
  padding: 1rem;
  transition: all 1s ease-out;
  animation: left-in 0.5s linear;
}

.alert-text {
  color: var(--font-dark, #303030);

  /* Text-14/semi bold */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 1.225rem */
}

.box-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box-top span {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.box-inner {
  width: 100%;
  background: var(--states-hover, #f1f1f1);
  text-align: center;
  gap: 0.5rem;
  padding: 1rem;
  color: var(--font-mid-2, #616161);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 1.1375rem */
}

.box.active {
  display: flex;
}

.menu-box {
  position: absolute;
  right: 0;
  top: 60px;
  width: 320px;
  border-radius: 10px;
  display: flex;
  padding: 0.375rem 0rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  border-radius: 0.875rem;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);

  /* Drop Shadow */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  display: none;
  animation: left-in 0.3s linear;
}

@keyframes left-in {
  from {
    right: -100px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.new-box {
  display: flex;
  padding: 0rem 0.375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
}

.user-div {
  cursor: pointer;
}

.user-div span {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  leading-trim: both;
  text-edge: cap;

  /* Text-12/medium */
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 0.975rem */
}

.username {
  color: var(--font-light, #e3e3e3);
  /* leading-trim: both; */
  /* text-edge: cap; */

  /* Text-12/medium */
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 0.975rem */
}

.menu-box.active {
  display: flex;
  transition: all 1s ease-out;
}

.menu-box-one {
  border-radius: 0.5rem;
  background: var(--states-hover, #f1f1f1);
  display: flex;
  padding: 0.25rem 0.75rem 0.25rem 0.5rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.menu-box-one .name {
  color: var(--font-dark, #303030);

  /* Text-13/semi bold */
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 1.1375rem */
}

.menu-box-one-first {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.first-item {
  display: flex;
  height: 1.75rem;
  padding: 0.60156rem 0.36719rem 0.64844rem 0.38281rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.32813rem;
  background: #36fba1;
}

.menu-box-two {
  /* margin-top: 0.6rem;
  margin-bottom: 0.6rem; */
  display: flex;
  padding: 0.375rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
}

.stores {
  color: var(--font-dark, #303030);

  /* Text-13/regular */
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.1375rem */
}

.menu-box-mid {
  display: flex;
  padding: 0rem 0.375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
  list-style: none;
}

.menu-box-mid li {
  display: flex;
  padding: 0.375rem;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
  color: var(--font-dark, #303030);

  /* Text-13/regular */
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.1375rem */
}

.menu-box-mid li:hover {
  border-radius: 0.5rem;
  background: var(--states-hover, #f1f1f1);
}
.menu-box-mid li:active {
  border-radius: 0.5rem;
  background: var(--states-pressed, #f0f0f0);
}
.menu-box-mid li:focus {
  border-radius: 0.5rem;
  border: 2px solid var(--states-focused, #005bd3);
}

.mail-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  padding: 0.375rem;
  border-radius: 0.5rem;
  color: var(--font-dark, #303030);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
}

.mail-list i {
  color: var(--grey-grey-100, var(--font-mid-2, #616161));
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
}

hr {
  width: 100%;
  background: #e1e1e1;
  height: 0.04688rem;
}

.last .two {
  display: inline-flex;
  padding: 0.125rem 0.125rem 0.125rem 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: var(--grey-grey-200, #303030);
}

.last .two:hover {
  background: var(--font-mid-2, #616161);
}

.last .two:active {
  background: var(--grey-grey-50, #656266);
}

.last .two:focus {
  background: var(--grey-grey-50, #656266);
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #000;
}

.last .two span {
  display: flex;
  height: 1.75rem;
  padding: 0.5625rem 0.3125rem 0.625rem 0.3125rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  background: #36fba1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
  background: var(--Background, #f1f1f1);
}

.main-two {
  width: 800px;
  padding: 0.75rem 0.5rem 0.75rem 1rem;
  margin-bottom: 5rem;
  border-radius: 1.125rem;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}

.main-one {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0.5rem 0.75rem 1rem;
  width: 800px;
  border-radius: 0.5rem;
  background: var(--grey-grey-300, #1a1a1a);
}

.main-app {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
}

.main-app p {
  color: var(--font-light, #e3e3e3);

  /* Text-13/medium */
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 1.1375rem */
}

.main-one div svg {
  cursor: pointer;
}

.select-plan {
  cursor: pointer;
  display: flex;
  padding: 0.375rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--White, #fff);
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
  color: var(--font-dark, #323232);
  /* Text-12/Semi bold */
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
}

.main-two-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.main-two-top svg {
  cursor: pointer;
}

.complete {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.complete-text,
.counter {
  color: var(--font-dark, #303030);

  /* Text-13/regular */
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
}

.setup {
  font-weight: 600;
  margin-bottom: 0.6rem;
  color: var(--font-dark, #303030);

  /* Text-14/semi bold */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
}

.top-text {
  margin: 0.5rem 0rem;
  color: var(--font-dark, #303030);

  /* Text-13/regular */
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
}

.save-btn {
  cursor: pointer;
  display: grid;
  place-content: center;
  border: none;
  background: none;
}

.loader {
  pointer-events: none;
  animation: an1 1s ease infinite;
}

.loaded {
  animation: loaded 1s linear;
}

@keyframes loaded {
  0% {
    scale: 0.3;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes an1 {
  0% {
    transform: rotate(0turn);
  }

  100% {
    transform: rotate(1turn);
  }
}

.hidden {
  display: none;
}

.check-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.check-row img {
  width: 30px;
  cursor: pointer;
}

.visible {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  /* display: none; */
}

.blue {
  cursor: pointer;
  margin-top: 0.6rem;
  margin-bottom: 1rem;
  color: var(--states-focused, #005bd3);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.custom {
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 0.375rem;
  border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
  display: flex;
  padding: 0.375rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
  color: var(--font-light, #f6f3f6);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 0.975rem */
}

i {
  font-family: sans-serif;
}

.import {
  margin-top: 1rem;
  cursor: pointer;
  color: var(--font-dark, #323232);
  /* Text-12/Semi bold */
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
}

.accordion {
  width: 100%;
  margin: 0 auto;
  /* new additions */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.accordion-item-body-text {
  color: var(--font-mid-2, #616161);

  /* Text-13/medium */
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 1.1375rem */
}

.accordion-item {
  width: 100%;
  background-color: transparent;
  margin: 1rem 0;
  border-radius: 0.625rem;
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 0rem 3.5rem 1rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.bg_active {
  background: #f3f3f3;
}

.btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  color: var(--font-dark, #303030);

  /* Text-13/semi bold */
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 1.1375rem */
}

/* .accordion-item-header.active + .accordion-item-body {
  display: block;
  max-height: 200px;
} */

@media screen and (max-width: 768px) {
  nav {
    /* padding: 1rem; */
    gap: 0.5rem;
  }

  .mobile-logo {
    display: flex;
  }

  .desktop-logo {
    display: none;
  }

  .mid {
    /* max-width: 300px; */
    width: 250px;
  }

  .last {
    gap: 8px;
  }

  .last .one {
    background: transparent;
  }

  .last .two {
    padding: 0;
  }

  .last .two span {
    /* background-color: transparent; */
  }

  .last .two p {
    display: none;
  }

  .main-one {
    width: 100%;
    border-radius: 0;
    gap: 6px;
    align-items: flex-start;
  }

  .main-app {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    font-size: 14px;
    flex: 1;
    margin: 0;
  }

  .main-two {
    width: 100%;
    border-radius: 0;
  }

  .hidden-mobile {
    display: none;
  }

  .box {
    max-width: 340px;
  }

  .menu-box {
    max-width: 340px;
  }

  .accordion-item-body-content {
    padding: 0rem 1rem 1rem 3.5rem;
  }
}
